# Xcode
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
xcuserdata/
DerivedData/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/

# Environment
.env
.env.local
.env.*.local

# Dependencies
Pods/
Podfile.lock
.SPM/

# Build artifacts
*.app
*.ipa
*.xcarchive

# Logs
*.log

# OS
Thumbs.db
